<h2>Tulis identitas kalian<h2>

Nama : Akmal Shahib Maulana
NIM  : 202110370311135

1. Buatlah sebuah list dengan 5 buah angka acak antara 1 sampai 10.

In [2]:
import numpy as np
import random

In [ ]:
# Tulis kode disini
random =[random.randint(1,10) for i in range(5)]

In [ ]:
print(random)

[4, 6, 10, 6, 1]

2. Ubah list tersebut menjadi tuple.

In [ ]:
# Tulis kode disini
randtup = tuple(random)
print(randtup)

(4, 6, 10, 6, 1)

3. Tambahkan angka acak lainnya ke dalam tuple (ingat bahwa tuple tidak bisa diubah, jadi anda harus membuat tuple baru).

In [ ]:
# Tulis kode disini
secondtup = (6,3,4,8,2)
newtup = randtup+secondtup
print(newtup)

(4, 6, 10, 6, 1, 6, 3, 4, 8, 2)

4. Buatlah sebuah fungsi yang menerima tuple angka dan mengembalikan tuple dengan elemen yang terurut.

In [ ]:
# Tulis kode disini
def sorting(tuple):
  sortedtup = sorted(tuple)
  return sortedtup

sort = sorting(newtup)
print(sort)

[1, 2, 3, 4, 4, 6, 6, 6, 8, 10]

5. Buat array Numpy 1D yang berisi 5 bilangan bulat acak dari 1 sampai 10.

In [ ]:
# Tulis kode disini

a = np.array([random.randint(1,10) for i in range(5)])

In [ ]:
a

array([9, 7, 9, 5, 1])

6. Hitung mean, median, dan standar deviasi dari array tersebut.
Code Jawabannya:

In [ ]:
# Tulis kode disini
import numpy as np

print("nilai rata-rata dari array diatas adalah",a.mean())
print("nilai tengah dari array diatas adalah",np.median(a))
print("Nilai tengah dari array diatas adalah",a.std())

nilai rata-rata dari array diatas adalah 5.2
nilai tengah dari array diatas adalah 4.0
Nilai tengah dari array diatas adalah 3.249615361854384

7. Buatlah array 2D (3x3) yang berisi angka acak.

In [ ]:
# Tulis kode disini
import numpy as np
import random
array2d = np.array([[random.randint(1,10)for i in range(3)]for i in range(3)])

In [ ]:
array2d

array([[5, 4, 9],
       [3, 5, 6],
       [8, 5, 9]])

8. Datar atau flatten array 2D tersebut menjadi array 1D.

In [ ]:
# Tulis kode disini
flat = array2d.flatten()
print(flat)

[5 4 9 3 5 6 8 5 9]

9. Buatlah DataFrame Pandas sederhana yang berisi data nama, usia, dan kota dari 3 orang.

In [ ]:
import pandas as pd

In [ ]:
# Tulis kode disini
data = np.array([['',"nama","usia","kota"],["1","tahul",100,"nowhere"],["2","ridaw",69,"padang sabat"],["3","bob",54,"jkt"]])

df = pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:])
print(df)

    nama usia          kota
1  tahul  100       nowhere
2  ridaw   69  padang sabat
3    bob   54           jkt

10. Tambahkan kolom 'Pekerjaan' ke DataFrame tersebut.

In [ ]:
# Tulis kode disini
newcol = np.array(["pekerjaan","nganggur","gak lulus","diam berpenghasil"])
data = np.insert(data,4,newcol,axis=1)
df = pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:])

In [ ]:
print(df)

    nama usia          kota          pekerjaan
1  tahul  100       nowhere           nganggur
2  ridaw   69  padang sabat          gak lulus
3    bob   54           jkt  diam berpenghasil

In [ ]:
print(df.iloc[0,1])

100

11. Ubahlah usia salah satu nama menjadi 31.

In [ ]:
# Tulis kode disini
df.iloc[0,1] = '34'
print(df)

    nama usia          kota          pekerjaan
1  tahul   34       nowhere           nganggur
2  ridaw   31  padang sabat          gak lulus
3    bob   54           jkt  diam berpenghasil

12. Urutkan DataFrame berdasarkan usia dari yang muda ke yang tua.
Code Jawabannya:

In [ ]:
# Tulis kode disini
sorted = df.sort_values(by=['usia'])
print(sorted)

    nama usia          kota          pekerjaan
2  ridaw   31  padang sabat          gak lulus
1  tahul   34       nowhere           nganggur
3    bob   54           jkt  diam berpenghasil

In [2]:
angka = 10
def tambah(int):
  return int
print(type(tambah))

<class 'function'>

In [4]:
data = np.array([[[1,2], [2,3]], [[5,6],[7,8]]])
data

array([[[1, 2],
        [2, 3]],

       [[5, 6],
        [7, 8]]])